:host{
  background-color: white !important;
  position: relative;
  /* height: 100%; */
}

.contenedor{
  background-color: white;
  height: 100%;
}

.buscador{
  height: 60px;
  /* background-color: white; */
  padding: 10px;
  margin-bottom: 5px;
}

/* Tama;o del calendario, 100% - altura del filtro arriba */
.calendar{
  height: calc(100% - 65px);
  width: 100%;
  padding: 10px;
  position: relative;
  /* background-color: white; */
}

/* Tamanio calendario, 100% para responsive en su contenedor */
full-calendar{
  height: 100%;
}

/* Fondo y color de los eventos */
:host::ng-deep .fc-daygrid-event {
  background-color: #3a87ad;
  color: white;
  position: relative;
}

/* Pongo mayuscula texto del header (mes) */
:host::ng-deep .fc-toolbar {
  text-transform: capitalize;
}
