<div class="cabecera">


  <div class="icono-modulo">
    <img class="img-responsive" src="/assets/images/menu/10_laboratorio.svg">
  </div>

  <div class="row top-options">
    <div class="col-2">
      <mat-form-field class="w-100">
        <mat-label>Tipo Doc:</mat-label>
        <mat-select>
          <mat-option [value]="0">Opcion 1</mat-option>
          <mat-option [value]="1">Opcion 2</mat-option>
          <mat-option [value]="2">Opcion 3</mat-option>
        </mat-select>
        <mat-icon class="icono-ayuda" matSuffix color="primary" matTooltip="Mensaje de ayuda"
          matTooltipPosition="above">
          help</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-2">
      <mat-form-field class="w-100">
        <mat-label>No. Documento:</mat-label>
        <input matInput type="text" value="Valor">
        <mat-icon class="icono-ayuda" matSuffix color="primary" matTooltip="Mensaje de ayuda"
          matTooltipPosition="above">help</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field class="w-100">
        <mat-label>Nombre:</mat-label>
        <input matInput type="text">
        <mat-icon class="icono-ayuda" matSuffix color="primary" matTooltip="Mensaje de ayuda"
          matTooltipPosition="above">help</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-2">
      <mat-form-field class="w-100">
        <mat-label>Código:</mat-label>
        <input matInput type="text">
        <mat-icon class="icono-ayuda" matSuffix color="primary" matTooltip="Mensaje de ayuda"
          matTooltipPosition="above">help</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-2">
      <button type="button" class="icono-cuadrado-azul" matTooltip="Texto ayuda" matTooltipPosition="below">
        <mat-icon>flag</mat-icon>
      </button>

      <button type="button" class="icono-cuadrado-azul" matTooltip="Texto ayuda" matTooltipPosition="below">
        <mat-icon>priority_high</mat-icon>
      </button>

    </div>


  </div>

  <div class="row">
    <div class="col">
    <mat-form-field style="width: 100%; font-size: 14px; margin-bottom: -10px;">
      <mat-label>Lugar de Atención:</mat-label>
      <input matInput type="text" value="un lugar">
      <mat-icon class="icono-ayuda" matSuffix color="primary" matTooltip="Mensaje de ayuda" matTooltipPosition="above">
        help</mat-icon>
    </mat-form-field>
  </div>
  </div>
</div>
