:host {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  padding: 1.25rem 0.3rem 2rem  0.3rem;
  /* padding-top: 1.25rem; */
  margin-bottom: 1.25rem;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
   height: 100%;
}


.matField{
  /* font-size: 0.75rem; */
  /* margin: 0 0 0.7rem 0.5rem; */
  /* margin-bottom: 0.75rem; */
  /* width: 100%; */
  /* border: 1px solid black; */
}
