:host {
  display: flex;
  flex-wrap: wrap;
  /* background-color: white;
  padding: 20px;
  padding-left: 40px;*/
}

.btn{
  margin: 1.5rem;
}

.button{
  outline: none;
  max-height: 32px;
  max-width: 32px;
}

.action-btn{
  /* background-color:rgba(0, 0, 0, 0.2);*/
  border:none;
  background-color: rgba(0, 0, 0, 0.4);;
  border-radius: 0.2rem;
  height:40px;
  width:40px;
  margin: 1rem 0.5rem;
}
.mat-icon{
  vertical-align: middle;
  color: white;
}



