<div class="row row-titulo ">
  <div class="col-3 titulo">
    <span>Titulo - Plantilla base</span>
  </div>
  <div class="col-9">
    <button type="button" class="icono-cuadrado-negro" matTooltip="Texto ayuda" matTooltipPosition="below">
      <mat-icon>save</mat-icon>
    </button>

    <button type="button" class="icono-cuadrado-negro" matTooltip="Texto ayuda" matTooltipPosition="below">
      <mat-icon>search</mat-icon>
    </button>

    <button type="button" class="icono-cuadrado-negro" matTooltip="Texto ayuda" matTooltipPosition="below">
      <mat-icon>edit</mat-icon>
    </button>

    <button type="button" class="icono-cuadrado-negro" matTooltip="Texto ayuda" matTooltipPosition="below">
      <mat-icon>gesture</mat-icon>
    </button>




  </div>

</div>

<div class="formulario ">


  <div class="row row-info">
    <div class="col-12">
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
    <p>dato</p>
    <br>
  </div>

  </div>
</div>
