
<!-- //Lista general -->
<nav class="ltr-nav">

  <ul class="ltr-nav_list" style="height: 50vh;">

      <li  class="ltr-nav_item" routerLink="SolicitudesAfiliacion" routerLinkActive="active" >
          <a class="ltr-nav_link btn-menu-hc" >
              <div class="ltr-nav_section">
                  <span class="ltr-nav_title">Solicitudes de Afiliacion</span>
              </div>
          </a>
          <div class="ltr-nav_icon">
              <a class="btn-menu-hc" >
                  <mat-icon class="material-icons">person_add_disabled</mat-icon>
              </a>
          </div>

      </li>

      <li  class="ltr-nav_item mt-5" routerLinkActive="active"   routerLink="Buscador">
          <a class="ltr-nav_link btn-menu-hc">
              <div class="ltr-nav_section">
                  <span class="ltr-nav_title">Cabecera buscador</span>
              </div>
          </a>
          <div class="ltr-nav_icon">
              <a class="btn-menu-hc" >
                  <mat-icon class="material-icons">search</mat-icon>
              </a>
          </div>
      </li>

      <li  class="ltr-nav_item" routerLinkActive="active" routerLink="Fullcalendar">
          <a class="ltr-nav_link btn-menu-hc" >
              <div class="ltr-nav_section">
                  <span class="ltr-nav_title">Fullcalendar</span>
              </div>
          </a>
          <div class="ltr-nav_icon">
              <a class="btn-menu-hc" >
                  <mat-icon class="material-icons">calendar_month</mat-icon>
              </a>
          </div>

      </li>
      <li  class="ltr-nav_item" routerLinkActive="active" >
          <a class="ltr-nav_link btn-menu-hc" >
              <div class="ltr-nav_section">
                  <span class="ltr-nav_title">** No existe **</span>
              </div>
          </a>
          <div class="ltr-nav_icon">
              <a class="btn-menu-hc" >
                  <mat-icon class="material-icons">filter_4</mat-icon>
              </a>
          </div>

      </li>
      <li  class="ltr-nav_item" routerLinkActive="active" >
          <a class="ltr-nav_link btn-menu-hc" >
              <div class="ltr-nav_section">
                  <span class="ltr-nav_title">** No existe **</span>
              </div>
          </a>
          <div class="ltr-nav_icon">
              <a class="btn-menu-hc" >
                  <mat-icon class="material-icons">filter_5</mat-icon>
              </a>
          </div>

      </li>
      <li  class="ltr-nav_item" routerLinkActive="active" >
          <a class="ltr-nav_link btn-menu-hc" >
              <div class="ltr-nav_section">
                  <span class="ltr-nav_title">** No existe **</span>
              </div>
          </a>
          <div class="ltr-nav_icon">
              <a class="btn-menu-hc" >
                  <mat-icon class="material-icons">filter_6</mat-icon>
              </a>
          </div>

      </li>
      <li  class="ltr-nav_item" routerLinkActive="active" >
          <a class="ltr-nav_link btn-menu-hc" >
              <div class="ltr-nav_section">
                  <span class="ltr-nav_title">** No existe **</span>
              </div>
          </a>
          <div class="ltr-nav_icon">
              <a class="btn-menu-hc" >
                  <mat-icon class="material-icons">filter_7</mat-icon>
              </a>
          </div>

      </li>
      <li  class="ltr-nav_item" routerLinkActive="active" >
          <a class="ltr-nav_link btn-menu-hc" >
              <div class="ltr-nav_section">
                  <span class="ltr-nav_title">** No existe **</span>
              </div>
          </a>
          <div class="ltr-nav_icon">
              <a class="btn-menu-hc" >
                  <mat-icon class="material-icons">filter_8</mat-icon>
              </a>
          </div>

      </li>
      <li  class="ltr-nav_item" routerLinkActive="active" >
          <a class="ltr-nav_link btn-menu-hc" >
              <div class="ltr-nav_section">
                  <span class="ltr-nav_title">** No existe **</span>
              </div>
          </a>
          <div class="ltr-nav_icon">
              <a class="btn-menu-hc" >
                  <mat-icon class="material-icons">filter_9</mat-icon>
              </a>
          </div>

      </li>


  </ul>
</nav>
