/* General */
:host::ng-deep  {
  height: 100%;
  width: 100%;
  /* background-color: rgb(255, 204, 204); */
  display: block;
}

.row{
  margin: 0;
  /* border: 2px solid green; */
}

/* .mat-radio-button ~ .mat-radio-button {
  margin-left: 1rem;
} */

/* Cabecera */

    /*    Titulo */

.busqueda{
  height: fit-content;
  /* background-color: aquamarine; */
  background-color: white;
  width: 99%;
  width: calc(100% - 5px);
}

.titulo{
  background-color: white;
  height: 100%;
  /* font-size: 1.5rem; */
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

    /* Botones */


/* Formulario */


.formulario{
  /* background-color: rgb(177, 208, 255); */
  background-color: white;
  padding: 20px;
  width: 99%;
  height: 63% ;
  width: calc(100% - 5px);
  height: calc(100% - 260px);
  border-radius: 0 5px 5px 5px;
}


/* Especialidades lista */

.lista-especialidades{
  height: 72vh;
  /* height: calc(100% - 100px); */
  overflow-y: auto;
  border: 2px solid #e1e1e1;
  border-radius: 5px;
  background-color: #EAF6FB;
}


:host::ng-deep .mat-list-item {
  height: 30px !important;
}

:host::ng-deep .mat-list-item .mat-list-item-content {
  height: 30px !important;
}


.sub-tab{
  padding: 5px 0;
}


table {
  width: 100%;
}
