<div class="row busqueda mt-1 mb-1 pt-2">

  <div class="col-2 align-items-center pt-3">
    <mat-checkbox class="w-100">
      Fecha
      <mat-icon class="icono-ayuda" matSuffix color="primary" matTooltip="Mensaje de ayuda" matTooltipPosition="above">
        help</mat-icon>
    </mat-checkbox>
  </div>

  <div class="col-2">
    <mat-form-field class="w-100">
      <mat-label>De</mat-label>
      <input matInput [matDatepicker]="dateDesde">
      <mat-datepicker-toggle matSuffix [for]="dateDesde"></mat-datepicker-toggle>
      <mat-datepicker #dateDesde></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="col-2">
    <mat-form-field class="w-100">
      <mat-label>Hasta</mat-label>
      <input matInput [matDatepicker]="dateHasta">
      <mat-datepicker-toggle matSuffix [for]="dateHasta"></mat-datepicker-toggle>
      <mat-datepicker #dateHasta></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="col-3">

    <div class="row ">
      <div class="col">
        <div class="row mb-1">
          <mat-label>Seleccione:</mat-label>
        </div>
        <div class="row ">
          <mat-radio-group color="primary">
            <mat-radio-button [value]="1">Código de Barra</mat-radio-button>
            <mat-radio-button [value]="2">Código Qr</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>

  </div>

  <div class="col-3">
    <button type="button" class="icono-cuadrado-azul" matTooltip="Texto ayuda" matTooltipPosition="above">
      <mat-icon>search</mat-icon>
    </button>

    <button type="button" class="icono-cuadrado-azul" matTooltip="Texto ayuda" matTooltipPosition="above">
      <mat-icon>save</mat-icon>
    </button>

    <button type="button" class="icono-cuadrado-azul" matTooltip="Texto ayuda" matTooltipPosition="above">
      <mat-icon>print</mat-icon>
    </button>

    <button type="button" class="icono-cuadrado-azul" matTooltip="Texto ayuda" matTooltipPosition="above">
      <mat-icon>ballot</mat-icon>
    </button>

  </div>

  <div class="col-2">
    <form [formGroup]="form">
      <mat-form-field class="w-100">
        <mat-label>Rango de fecha</mat-label>
        <mat-date-range-input [rangePicker]="range">
          <input matStartDate placeholder="Start date" formControlName="rangeStart">
          <input matEndDate placeholder="End date" formControlName="rangeEnd">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="range"></mat-datepicker-toggle>
        <mat-date-range-picker #range></mat-date-range-picker>
        <mat-hint>
          Fecha inicio: {{form.get('rangeStart')?.value | date}} &emsp;
          fecha fin: {{form.get('rangeEnd')?.value | date}}</mat-hint>
      </mat-form-field>



    </form>
  </div>

</div>

<div class=" formulario">

  <div class="row h-100">
    <div class="row  w-100">
      <mat-tab-group [dynamicHeight]="true" animationDuration="0ms" class=" w-100 tab-group" backgroundColor="primary">
        <mat-tab label="Paciente">
          <div class="sub-tab">
            <app-paciente></app-paciente>
          </div>
        </mat-tab>
        <mat-tab label="Control de Calidad">
          <div class="sub-tab">
            <app-control-calidad></app-control-calidad>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>



    <div class="row w-100 pintar">
      <hr class="w-100">

      <div class="w-100">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="PYP">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PYP </th>
            <td mat-cell *matCellDef="let row"> {{row.pyp}} </td>
          </ng-container>

          <ng-container matColumnDef="FECHA">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA </th>
            <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
          </ng-container>

          <ng-container matColumnDef="CONVENIO">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CONVENIO </th>
            <td mat-cell *matCellDef="let row"> {{row.convenio}} </td>
          </ng-container>

          <ng-container matColumnDef="PACIENTE">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PACIENTE </th>
            <td mat-cell *matCellDef="let row"> {{row.paciente}} </td>
          </ng-container>

          <ng-container matColumnDef="DOCUMENTO">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DOCUMENTO </th>
            <td mat-cell *matCellDef="let row"> {{row.documento}} </td>
          </ng-container>

          <ng-container matColumnDef="SERVICIO">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SERVICIO </th>
            <td mat-cell *matCellDef="let row"> {{row.servicio}} </td>
          </ng-container>

          <ng-container matColumnDef="CANTIDAD">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CANTIDAD </th>
            <td mat-cell *matCellDef="let row"> {{row.cantidad}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>


    </div>
  </div>



</div>
